<%= form_for(@velocity_event) do |f| %>
  <% if @velocity_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@velocity_event.errors.count, "error") %> prohibited this velocity_event from being saved:</h2>

      <ul>
      <% @velocity_event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :velocity %><br />
    <%= f.text_field :velocity %>
  </div>
  <div class="field">
    <%= f.label :heading %><br />
    <%= f.text_field :heading %>
  </div>
  <div class="field">
    <%= f.label :device_id %><br />
    <%= f.text_field :device_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
