<h1>Listing velocity_events</h1>

<table>
  <tr>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Velocity</th>
    <th>Heading</th>
    <th>Device</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @velocity_events.each do |velocity_event| %>
  <tr>
    <td><%= velocity_event.latitude %></td>
    <td><%= velocity_event.longitude %></td>
    <td><%= velocity_event.velocity %></td>
    <td><%= velocity_event.heading %></td>
    <td><%= velocity_event.device_id %></td>
    <td><%= link_to 'Show', velocity_event %></td>
    <td><%= link_to 'Edit', edit_velocity_event_path(velocity_event) %></td>
    <td><%= link_to 'Destroy', velocity_event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Velocity event', new_velocity_event_path %>
