<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<h1>Displaying driving profile</h1>
User Name: <%= @stat.user_name%> <br>
Milage: <%= @stat.mileage%> <br>
Redlight Count: <%= @stat.redlight_count%> <br>
MPG: <%= @stat.mpg%> <br>
Carma Points: <%= @stat.carma_points%> <br>
</html>
